* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(22, 21, 22);
}

.container {
    position: relative;
}

.clock {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(38, 43, 38);
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 10;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.5s ease-in-out;
    transform-origin: bottom;
}

.hand i {
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: 90px;
    border-radius: 8px;
}

.hand1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.5s ease-in-out;
    transform-origin: bottom;
    background-color: var(--clr);
    width: 4px;
    height: 50px;
    top: 151px;
}